.wrapper{
    background-color: lightblue;
}

header { 
    background-color: lightblue;
    padding: 25px;
    text-align: center;
    color: black;
    font-size: larger;
    border: 2px solid black;
    font-weight: 400;
}


nav { 
    background-color: lightblue;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px solid black;
    text-align: center;
}


a {
    text-decoration: underline;
    font-size: 1.1rem;
    text-align: center;
}

a:link {
    color: #BFFBDC;
    background-color: black;
    padding: 2px;
}

a:visited {
    color: white;
    background-color: black;
    padding: 2px;
}

a:hover {
    color: white;
    background-color: hotpink;
    padding: 2px;
}

a:active {
    color: hotpink;
    background-color: black;
    padding: 2px;
}


main { background-color: white;}

body { background-color: white;}

table {
    border-collapse: collapse;
    width: 50%;
    background-color: white;
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: grey;
}
footer { 
    background-color: #437A6E;
    padding: 25px;
    text-align: center;
    color: whitesmoke;
}